{%  include 'main.html' %}
{% block content %}
<br>
<div class="container">
    <div class="jumbotron">
        <hr class="my-6">
        <div class="container">
            <p>Campo de busca</p>
        </div>

        <div style="border: outset 5px grey;">

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script>
              $("#id_cad_empresa").change(function () {
                var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
                var cad_empresaId = $(this).val();  // get the selected country ID from the HTML input
          
                $.ajax({                       // initialize an AJAX request
                  url: '{% url 'ajax_load_cities' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                  data: {
                    'cad_empresa': cad_empresaId       // add the country id to the GET parameters
                  },
                  success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_cad_servico").html(data);  // replace the contents of the city input with the data that came from the server
                  }
                });
          
              });
              // this one is for fetching vanue data
              $("#id_cad_servico").change(function () { //django-model-form created this id
                var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
                var cad_servicoId = $(this).val();  // get the selected country ID from the HTML input
          
                $.ajax({                       // initialize an AJAX request
                  url: '{% url 'ajax_load_vanues' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/) person_form.html template has this url var
                  data: {
                    'cad_servico': cad_servicoId       // add the country id to the GET parameters
                  },
                  success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_cad_veiculo").html(data);  // replace the contents of the city input with the data that came from the server
                  }
                });
          
              });
            </script>

</div>
</div>
</div>
</body>

{% endblock %}
