{% load static %}
{% load widget_tweaks %}


{% block content %}



<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">




</head>



<body>



        <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #03045E">
            <a class="navbar-brand" href="#">
                <img width="130px"  src="/static/img/TPF-ENGENHARIA-1.png" alt="Logotipo TPF Engenharia">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    
                    <span</span>
                    <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
                </ul>
            </div>
        </nav>





</nav>

	<div class="container">
		<div class="jumbotron">
			<hr class="my-6">
			<div class="container">
				<p>Campo de busca</p>
			


	
	
			<form action = "/home/" method="post" id="actionForm" name="actionForm">
			{% csrf_token %}

				<h4>Empresa</h4>
				<select id="empresa_cad"  name="empresa_cad" onchange="saveValue(this);this.form.submit();">
					
						{% for i in cad_empresa %}
						
							<option value='{{i}}'>{{i}}</option>
							
						{% endfor %}
						
						<option value='Todos'>Todos</option>
				</select>



				<h4>Serviço</h4>
				<select id="servico_cad" name="servico_cad" onchange="saveValue(this);this.form.submit();">

						{% for i in cad_servico %}
						
							<option value='{{i}}'>{{i}}</option>
							
						{% endfor %}
						
						<option value='Todos'>Todos</option>
				</select>

				<h4>Veículo</h4>
				<select id="veiculo_cad" name="veiculo_cad" onchange="saveValue(this);this.form.submit();">

						{% for i in cad_veiculo %}
						
							<option value='{{i}}'>{{i}}</option>
							
						{% endfor %}
						
						<option value='Todos'>Todos</option>
				</select>

				<h4>Chamada</h4>
				<select id="parada_chamada_tb" name="parada_chamada_tb" onchange="saveValue(this);this.form.submit();">

						{% for i in tb_rastreio_parada_chamada %}
						
							<option value='{{i}}'>{{i}}</option>

							
						{% endfor %}
						
						<option value='Todos'>Todos</option>
				</select>







			</form>

			<form action = "/download/" method="post" id="submitForm" name="submitForm" onsubmit = "differenceMaker(document.getElementById('parada_date_tb_start').value, document.getElementById('parada_date_tb_end').value);">
			{% csrf_token %}
			
			
				<h4>Data e Hora</h4>
				
				
				<input type="date" id="parada_date_tb_start" name="parada_date_tb_start" required>
				<input type="date" id="parada_date_tb_end" name="parada_date_tb_end" required>
				
				<p><br></p>
				
				
				<input type="time" id="parada_hour_tb" name="parada_hour_tb_start" required>
				<input type="time" id="parada_hour_tb_end" name="parada_hour_tb_end" required>
			
				<button href="/download/" onclick="parada_hour_tb.form.submit" type="submit" >Filter</button>

			</form>
			
			</div>
		</div>	
	</div>	
	


  

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="{% static 'js/scripts.js' %}"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<scripts src="tail.select-full.min.js"></scripts>
	
	

<script>


		window.onload = function (){
		
			$(document.getElementById('empresa_cad').value = getSavedValue('empresa_cad'));
			$(document.getElementById("servico_cad").value = getSavedValue("servico_cad"));   
			$(document.getElementById("veiculo_cad").value = getSavedValue("veiculo_cad"));
			$(document.getElementById("parada_chamada_tb").value = getSavedValue("parada_chamada_tb"));
			$(document.getElementById("parada_date_tb").value = getSavedValue("parada_date_tb"));

			}
		


        //Function responsible to save localStorage values and erase other values in order to maintain the sequence of cad_values
        function saveValue(e){

            var id = e.id;  
            var val = e.value; 
            localStorage.setItem(id, val);
			
			if (id == "empresa_cad"){
				localStorage.removeItem("servico_cad");
				localStorage.removeItem("veiculo_cad");
				localStorage.removeItem("parada_chamada_tb"); 		
				localStorage.removeItem("parada_date_tb");

			
			}

			if (id == "servico_cad"){
			
				localStorage.removeItem("veiculo_cad");
				localStorage.removeItem("parada_chamada_tb");
				localStorage.removeItem("parada_date_tb");

		
			}

			if (id == "veiculo_cad"){
				
				localStorage.removeItem("parada_chamada_tb");
				localStorage.removeItem("parada_date_tb");

		
			}


			
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (!localStorage.getItem(v)) {
                return "";
            }
            return localStorage.getItem(v);
        }
		
	
		function differenceMaker(init_value, final_value){
		
			var x = init_value;
			var y = final_value;
			
			alert(x);
			alert(y);
			
			if Math.abs(x) - Math.abs(y){
			
				alert("Apenas valores com uma diferença máxima de 7 dias estão disponíveis.");
				return false;
			}
			
			else{
			
				return true;
			}
		
		};

		
</script>



</body>










{% endblock %}