<div class="container">

    <div class="row">
        <div class="col">
            <table class="table table-hover table-dark" style="background-color: #03045E">
                <thead>
                <tr>
                    <th scope="col">IDVEICULO</th>
                    <th scope="col">DATAS</th>
                    <th scope="col">SEGUNDOS</th>
                    <th scope="col">LONGITUDE</th>
                    <th scope="col">LATITUDE</th>
                    <th scope="col">LOTE</th>
                    <th scope="col">SERVIÇO</th>
                </tr>
                </thead>
                <tbody>
                <tbody>
                {% for veiculo in log_parada %}
                <tr>
                    <td>{{ veiculo.idveiculo }}</td>
                    <td>{{ veiculo.data }}</td>
                    <td>{{ veiculo.segundo }}</td>
                    <td>{{ veiculo.longitude }}</td>
                    <td>{{ veiculo.latitude }}</td>
                    <td>{{ veiculo.lote }}</td>
                    <td>{{ veiculo.servico }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>